<!DOCTYPE html>
<html>
<head>
  <title>Форма для поиска сотрудника</title>
  <style>
    body {
      background-color: black;
      color: white;
      text-align: center;
      font-family: Arial, sans-serif;
      font-weight: bold;
    }

    h1 {
      color: white;
      text-shadow: 0 0 10px #9999CC, 0 0 20px #9999CC, 0 0 30px #9999CC;
    }

    form {
      display: inline-block;
      margin: 20px auto;
      padding: 20px;
      background-color: #9999CC;
      border: 2px solid white;
      border-radius: 10px;
    }

    label {
      color: black;
    }

    input[type="number"] {
      padding: 10px;
      margin: 10px 0;
      border: 1px solid white;
      border-radius: 5px;
      color: black;
    }

    input[type="submit"] {
      margin-top: 20px;
      padding: 10px 15px;
      border: 2px solid white;
      border-radius: 20px;
      background-color: #9999CC;
      color: white;
      cursor: pointer;
      transition: all 0.3s ease;
    }

    input[type="submit"]:hover {
      background-color: black;
      color: white;
      border: 2px solid #9999CC;
    }

    button {
      margin-top: 20px;
      padding: 10px 15px;
      border: 2px solid white;
      border-radius: 20px;
      background-color: #9999CC;
      color: white;
      cursor: pointer;
      transition: all 0.3s ease;
    }

    button:hover {
      background-color: black;
      color: white;
      border: 2px solid #9999CC;
    }
  </style>
</head>
<body>
  <h1>Введите код сотрудника </h1>

  

    <form action="/get_table_by_staff" method="post">
        <label for="employeecodeInput">Сотрудник:</label>
        <input type="number" id="employeecodeInput" name="employeecode" min="40" max="54" required>
        <input type="submit" value="Получить таблицу">
      </form>

</body>
</html>
