
<!DOCTYPE html>
<html>
<head>
  <title>Основная страница</title>
</head>
<body>
 
 
      <h1>Главная страница</h1>
      <h2>Выберете действие</h2>

      <style>
        body {
          background-color: black;
          color: white;
          text-align: center;
          font-family: Arial, sans-serif;
        }
    
        h1, h2 {
          color: white;
          text-shadow: 0 0 10px #6633FF, 0 0 20px #6633FF, 0 0 30px #6633FF; 
        }
    
        button {
          margin: 10px;
          padding: 15px 30px;
          border: 3px solid #6633FF;
          border-radius: 10px;
          background-color: white;
          color: black;
          font-weight: bold;
          cursor: pointer;
          transition: all 0.3s ease; 
        }
    
        button:hover {
          background-color: #6633FF; 
          color: white; 
          text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff; 
          transform: scale(1.1); 
        }
      </style>
   
  
  
  
  <br> <button onclick="location.href='/getDataByJob'">Открыть форму  <b>"Должности"</b> для поиска размеры зарплаты</button>
  <br>
  <br> <button onclick="location.href='/addJob'">Открыть форму <b>"Должности"</b> и добавить новые данные</button>
  <br>
  <br> <button onclick="location.href='/employeeCodeForm'">Открыть форму <b>"Должности"</b> и изменить/удалить данные</button>
  <br>
  <br> <button onclick="location.href='/'">вернуться на главную страницу</button>
  <br>
 



  

</body>
</html>
