
<!DOCTYPE html>
<html>
<head>
  <title>Основная страница</title>
</head>
<body>
 
 
      <h1>Главная страница</h1>
      <h2>Выберете действие</h2>

      <style>
        body {
          font-family: Arial, sans-serif;
          
          background-color: white; /* Цвет фона */
        }
        h1 {
          text-align: center;
        }

        h2 {
          text-align: center;
        }
       
      </style>
   
  
  
  <!-- Кнопка для открытия формы по месяцу -->
  <button onclick="location.href='/getDataByMonth'"><b>Открыть форму для поиска мероприятий по месяцу</b></button>
  <br>
  <br> <button onclick="location.href='/getDataByJob'">Открыть форму  <b>"Должности"</b> для поиска размеры зарплаты</button>
  <br>
  <br> <button onclick="location.href='/addJob'">Открыть форму <b>"Должности"</b> и добавить новые данные</button>
  <br>
  <br> <button onclick="location.href='/editJob'">Открыть форму <b>"Должности"</b> и изменить/удалить данные</button>
  <br>
  <br> <button onclick="location.href='/getDataPerformes'">Открыть форму <b>"Исполнители"</b> для поиска исполнителя мероприятие по коду сотрудника</button>
  <br>
  <br> <button onclick="location.href='/addPerformers'">Открыть форму <b>"Исполнители"</b> и добавить новые данные</button>
  <br>
  <br> <button onclick="location.href='/editperformers'">Открыть форму <b>"Исполнители"</b> и изменить/удалить данные</button>
  <br>
  <br> <button onclick="location.href='/getDataStaff'">Открыть форму <b>"Сотрудники"</b> для поиска сотрудника по коду сотрудника</button>
  <br>
  <br> <button onclick="location.href='/addStaff'">Открыть форму <b>"Сотрудники"</b> для добавления нового сотрудника</button>
  <br>
  <br> <button onclick="location.href='/editstaff'">Открыть форму <b>"Сотрудники"</b> для изменения/удаления данных</button>
  <br>



  <!-- Добавь другие кнопки здесь -->

</body>
</html>
